.text1{
  color: goldenrod;
}

.h1{
  color: aqua;
  background-image: url(https://tse3.mm.bing.net/th?id=OIP.roeJGz3eeyhxK3XRQ0LxpQHaFj&pid=Api&P=0&h=180);
  text-align: center;
  font-size: 100px;
}

.h3{
  color: rgb(42, 165, 61);
}

#heading{
  font-size: small;
  align-content: end;
}

#text{
  align-content: center;
}

.background-image{
  border: 10px solid greenyellow;
  padding: 10px;
  margin: 60px;
}

.picbox{
  text-align: center;
  background-color: aquamarine;
}

.picbox img{
  max-width: 100%;
  max-height: 100%;
  border: 20px groove black;
  padding: 20px;
  background-color: blue;
  margin: 20px;  
}

#intro{
  background-color: aqua;
  color: black;
  text-decoration: underline;
  text-align: center;
  position: static;
}

footer{
  text-align: end;
  text-size-adjust: 1000px;
  color: rgb(71, 42, 165);
  border: 20px groove black;
  box-sizing: border-box;
  display: inline-block;
  width: 210px;
  height: 200px;
  box-decoration-break: slice;
  float: left;
}